.custom-step {
    background: #444;
    color: white;
    height: 19px;
    width: 19px;
    border-radius: 50%;
}

.btn {
    background: #6c5ce7;
    padding: .4em;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
}